<?xml version="1.0"?>
<launch>

	<param name="use_sim_time" value="true" />
	
    <node pkg="rosbag" type="play" name="playbag" output="screen"
          args="--pause --clock --rate 1
                $(find lidar_eskf)/dat/NSH1109_circle/lidar.bag
                $(find lidar_eskf)/dat/NSH1109_circle/imu.bag
                $(find lidar_eskf)/dat/NSH1109_circle/camera.bag"/>
                
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" 
	      args="$(find lidar_eskf)/map/nsh_1109.bt">
	      <param name="frame_id" value="world"/>
	      <!-- <param name="base_frame_id" value="world_view"/> -->
	</node>
                
	<node pkg="tf" type="static_transform_publisher" name="world_view" args="0 0 0 0 0 3.1415926 world world_view 100"/> 
	
	<node pkg="lidar_eskf" type="eskf_test" name="eskf_test" output="screen">
	
	    <remap from="/imu"                      to="/imu_driver/imu"/>
	    
        <param name="imu_frequency"             value="200"/>
        <param name="sigma_acceleration"        value="0.8"/>
        <param name="sigma_gyroscop"            value="0.1"/>
        <param name="sigma_acceleration_bias"   value="0.2"/>
        <param name="sigma_gyroscope_bias"      value="0.1"/>
        <param name="gravity"                   value="9.82"/>
        
        <param name="init_bias_acc_x"           value="-0.05"/>
        <param name="init_bias_acc_y"           value="0.025"/>
        <param name="init_bias_acc_z"           value="-0.032"/>
        
        <param name="position_sigma"            value="0.3"/>
        <param name="rotation_sigma"            value="0.1"/>
        
        <param name="acc_queue_size"            value="10"/>
        

	</node>
	
</launch>
