<?xml version="1.0"?>
<launch>

	<param name="use_sim_time" value="true" />
                
	<node pkg="tf" type="static_transform_publisher" name="world_view" args="0 0 0 0 0 3.1415926 world world_view 100"/> 
	
	<node pkg="lidar_eskf" type="gpf_test" name="gpf_test" output="screen">
	
	    <remap from="/gpf_test/cloud"            to="/dji_sim/laser/pointcloud"/>
        
        <param name="map_file_name"            value="$(find lidar_eskf)/map/gazebo_bridge.bt"/>
        <param name="octree_resolution"        value="0.2"/>
        <param name="max_obstacle_dist"        value="5.0"/>
        <param name="ray_sigma"                value="2.0"/>
        <param name="cloud_resolution"         value="0.2"/>
        <param name="set_size"                 value="1000"/>
        
	</node>
	
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" 
	      args="$(find lidar_eskf)/map/gazebo_bridge.bt">
	      <param name="frame_id"           value="world"/>
	      <param name="base_frame_id"      value="world_view"/>
	</node>
	
	<node pkg="rviz" type="rviz" name="gpf_test_rviz" required="false" args="-d $(find lidar_eskf)/rviz/gpf_test.rviz"/>
</launch>
