<?xml version="1.0"?>
<launch>

    <!-- <param name="use_sim_time" value="true" /> -->

	
	<node pkg="lidar_eskf" type="lidar_eskf_node" name="lidar_eskf" output="screen">
	
	    <remap from="/lidar_eskf/cloud"        to="/sim_cloud"/>
        <remap from="/imu"                     to="/dji_sim/imu"/>
	    
        <param name="map_file_name"            value="$(find g2_sim)/map/liberty_tf.bt"/>
        <param name="octree_resolution"        value="0.2"/>
        <param name="max_obstacle_dist"        value="2.5"/>
        <param name="ray_sigma"                value="1.0"/>
        <param name="cloud_resolution"         value="0.5"/>
        <param name="cloud_range"              value="25.0"/>
		<param name="laser_type"               value="pointcloud"/>
        <param name="set_size"                 value="500"/>

        <param name="imu_frequency"             value="100"/>
        <param name="sigma_acceleration"        value="4.0"/>
        <param name="sigma_gyroscop"            value="1.0"/>
        <param name="sigma_acceleration_bias"   value="0.02"/>
        <param name="sigma_gyroscope_bias"      value="0.01"/>
        <param name="gravity"                   value="0.0"/>
        
        <param name="init_bias_acc_x"           value="0.0"/>
        <param name="init_bias_acc_y"           value="0.0"/>
        <param name="init_bias_acc_z"           value="0.0"/>
        
        <param name="acc_queue_size"            value="10"/>
        
        <param name="imu_to_laser_roll"            value="0.0"/>
        <param name="imu_to_laser_pitch"           value="0.0"/>
        <param name="imu_to_laser_yaw"             value="0.0"/>

	</node>

</launch>
